:root {
  --bs-primary-rgb: 174, 56, 85;
  --bs-link-color: #AE3855;
  --bs-link-hover-color: #AE3855;
}

.nav-link {
  color: #C2DCEB !important;
}
.nav-link:hover {
  color: #AE3855 !important;
}

/* On scroll */
#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(33, 37, 41, 0.9);
}
#mainNav.navbar-shrink .nav-link {
  color: #DFD3D6 !important;
}

/* Navbar */
#mainNav {
  background-color: rgba(33, 37, 41, 0.6);
}

#mainNav .navbar-brand img {
  height: 2.4rem !important;
}

.navbar-toggler {
  color: #f5f5ef !important;
  background-color: #212529;;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand img {
    height: 3.2rem !important;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(33, 37, 41, 0.9);
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    width: auto;
    text-align: end;
    padding-left: 2rem !important;
  }
}

/* Content */
h5 {
  font-size: 1.0em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1em;
}

.timeline > li {
  margin-bottom: 32px;
}

/* Footer */ 
.btn-social {
  background-color: #AE3855;
  border-color: #AE3855;
}
.btn-social:hover {
  background-color: #1C4B65;
  border-color: #1C4B65;
}

.cta {
  color: #AE3855;
  font-size: 1.2em;
}
