:root {
  --bs-primary-rgb: 204, 69, 96; /* Updated RGB value for #cc4560 */
  --bs-link-color: #cc4560;
  --bs-link-hover-color: #cc4560;
}

.nav-link {
  color: #256082 !important;
}
  
.nav-link:hover {
  color: #cc4560 !important; /* ホバー時の色 */
}

/* On scroll */
#mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #256082;
}
#mainNav.navbar-shrink .nav-link {
  color: #fff !important;
}