:root {
  --bs-primary-rgb: 174, 56, 85;
  --bs-link-color: #AE3855;
  --bs-link-hover-color: #AE3855;
}

.nav-link:hover {
  color: #AE3855 !important;
}

/* On scroll */
#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #1C4B65;
}
#mainNav.navbar-shrink .nav-link {
  color: #f5f5ef !important;
}

/* Content */
h5 {
  font-size: 1.0em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1em;
}

.timeline > li {
  margin-bottom: 32px;
}

/* Footer */ 
.btn-social {
  background-color: #AE3855;
  border-color: #AE3855;
}
.btn-social:hover {
  background-color: #1C4B65;
  border-color: #1C4B65;
}

.cta {
  color: #AE3855;
  font-size: 1.2em;
}
